body {
  text-align: center;
  font-family: Helvetica;
}

nav {
  background-image: url(../background.png);
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

a {
  color: white;
  font-size: 18px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p{
  font-size: 14px;
}

#contact h2 {
  background-image: url(../background.png);
  color: white;
  font-size: 23px;
}

#footer {
  background-color: dimgray;
  color: white;
  text-align: left;
}

#footer p {
  font-size: 11px;
}
